$primary-color : #00E4C0;
$secondary-color : black;
$tertiary-color : white;

/* This applies common styling to subsection of page to have uniformity */
.page-section{
    display: grid;
    justify-items: center;
    margin-top: 100px;
    header{
        display: grid;
        justify-items: center;
        /* select second child of type p of header */
        p:nth-child(2){
            margin: 10px 0px;
            font-size: 1.5em;
        }
        /* Select all child p where parent is header tag */
        > p:first-child{
            margin: unset;
            font-size: 0.8em;
            color: $primary-color;
        }
        /* select second child of type p of header */
        p:nth-child(2){
            margin: 10px 0px;
            font-size: 1.5em;
        }
    }

    
}
/* Apply style to all elemets of the page 
This is to have uniquiness of font family over the page */
body{
    font-family: Verdana, Geneva, sans-serif;
    word-spacing: 0.3em;
}

.font-color-aqua{
    color: $primary-color;
}
.section-separator{
    border: 1px solid $primary-color;
}

