.page-section button,
.home-container button{
    height: 3em;
    width: 10em;
    border-radius: 0.5em;
    background-color: #00E4C0;
    color: white;
    border-color: #00E4C0;
    font-size: 1em;
}
.home-container button{
    border-radius: 2em;
}
/* pseudo class on state of element */
.page-section button:hover,
.home-container button:hover{
    background-color: white;
    color: black;
}