/* 
Referenced from
https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705 */
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  .circle{
    fill: none;
    stroke-width: 2.8;
  }
  .circle1 {
    @extend .circle; 
    stroke: $primary-color;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .circle2{
    @extend .circle; 
    stroke: lightgray;
  }
  svg .percentage {
      font-size: 4px;
  }
  svg .percentage-type {
    font-size: 2px;
    word-spacing: normal;
}
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .svg-container{
    margin-top: 50px;
    @include grid('grid-template-columns', 'repeat(4, auto)');
    justify-content: center;
  }
  .sub-svg-container{
    width: 200px;
  }