
/* Apply style to all elemets of the page 
This is to have uniquiness of font family over the page */
body{
    font-family: Verdana, Geneva, sans-serif;
    word-spacing: 0.3em;
}
/* This applies common styling to subsection of page to have uniformity */
.page-section header{
    display: grid;
    justify-items: center;
}
.page-section{
    display: grid;
    justify-items: center;
    margin-top: 100px;
}

/* Select all child p where parent is header tag */
.page-section header > p:first-child{
    margin: unset;
    font-size: 0.8em;
    color: $primary-color;
}
/* select second child of type p of header */
.page-section header p:nth-child(2){
    margin: 10px 0px;
    font-size: 1.5em;
}
.font-color-aqua{
    color: $primary-color;
}
.section-separator{
    border: 1px solid $primary-color;
}


/* CSS specific to portfolio section */
.work-img-container .wrk-img{
    width: 300px;
    height: 350px; 
    position: relative;
}
.work-img-container .plus-sign{
    display: none;
}
.work-img-container .wrk-img:hover{
    opacity: 0.6;
}
/* select all siblings of class work image on hover of type plus-sign */
 .work-img-container .wrk-img:hover +  .plus-sign{
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 100;
    margin: -227px 100px;
}
.work-img-container {
    @include grid('grid-template-columns', 'repeat(4, auto)');
    justify-content: space-around;
    margin: 40px 0px;
}

.work-img-container div{
    background-color: $primary-color;
    margin: 0px 10px 0px 10px;
}
/* This styling is specific to trending news section */
.news-card-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}
/* multiple elements with same CSS styling */
.news-card-container > article 
,.news-card-container article img{
    width: 400px;
    border-radius: 0.5em;
}
.news-card-container > article {
    margin: 20px;
    height: 500px;
    box-shadow: 6px 7px 14px 1px rgba(161,169,173,1);
}
.news-card-container > article div:nth-child(2){
    margin: 20px;
}
/* deep cascading to apply specific css */
.news-card-container > article > div > article > p {
    font-size: 0.8em;
}
.news-card-container  .news-know-more{
    margin-top: 30px;
}


/* apply css to testimonials section */
.testimonials-container{
    display: grid;
    justify-items: center;
    align-items: center;
}
.testimonials-container p:nth-child(1){
    width: 50em;
    font-size: 0.8em;
}
.testimonials-container img{
    border-radius: 50%;
    object-fit: cover;
}
.testimonials-container img:nth-child(1),
.testimonials-container img:nth-child(3){
    width: 40px;
    height: 40px;
    z-index: -1;
    margin-right: -10px;
    margin-left: -10px;
    border: solid 2px $primary-color;
}
.testimonials-container img:nth-child(2){
    width: 70px;
    height: 70px;
    border: solid 5px $primary-color;
}
.testimonials-container div{
    @include grid('grid-template-columns', 'repeat(3, auto)');
    align-items: center;
}
.testimonials-container .dot {
    height: 10px;
    width: 10px;
    background-color: $secondary-color;
    border-radius: 50%;
    margin: 5px;
}
.testimonials-container .dot:nth-child(2){
    background-color: $primary-color;
}

/* CSS to form section */
.form-container .form-row{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    justify-content: center;
}

.form-map-img{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.form-outer-container{
    margin-top: 230px;
    z-index: 100;
}

/* CSS to summary section */
summary{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
    justify-content: space-between;
}

summary .contact-details{
    @include grid('grid-template-columns', 'repeat(3, auto)');
    justify-content: space-between;
}
/* CSS  for the main page footer */
.main-page-footer{
    text-align: center;
}
/* CSS for the services section */


/* CSS styling for about me section */

.about-me-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
}
.about-me-container > div{
    padding: 0px 40px;
}
.about-me-container aside img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.about-me-container article{
    width: 250px;
    display: grid;
}
.about-me-container article a{
    text-decoration: none;
    color: $primary-color;
}
.about-me-container article div{
    display: grid;
    justify-content: space-between;
}
/* Custom CSS for the navbar on top of page */
.navbar{
    display: grid;
    justify-content: end;
}
.navbar a{
    text-decoration: none;
    color: $secondary-color;
}
.navbar a:hover{
    color: $primary-color;
}
.home-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    justify-content: space-around;
    margin: 40px;
}
.home-container a{
    text-decoration: none;
    color: $secondary-color;
}
.home-container .heading{
    font-size: xx-large;
}
.navbar{
    padding: 50px;
    position: sticky;
    position: -webkit-sticky;
    top:0.1px;
    background-color: $tertiary-color;
    z-index: 101;
}

  @media only screen and (max-width: 800px) {
    .svg-container{
        @include grid('grid-template-columns', 'repeat(2, auto)');
    }
    .about-me-container{
        @include grid('grid-template-columns', 'repeat(2, auto)');
        justify-items: center;
    }
    .home-container{
        @include grid('grid-template-columns', 'auto');
        grid-row-gap: 40px;
    }

  }
  @media only screen and (max-width: 1200px) {
    .work-img-container{
        @include grid('grid-template-columns', 'repeat(2,1fr)');
    }
  }

  @media only screen and (max-width: 650px) {
    .work-img-container{
        @include grid('grid-template-columns', 'repeat(1,1fr)');
    }
  }