/* Custom CSS for the navbar on top of page */
.navbar{
    display: grid;
    justify-content: end;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top:0.1px;
    background-color: $bar-color;
    z-index: 101;
    a{
        text-decoration: none;
        color: $secondary-color;
    }
    
    a:hover{
        color: $primary-color;
    }
}