/* apply css to testimonials section */
.testimonials-container{
    display: grid;
    justify-items: center;
    align-items: center;
    // nesting rules inside parent
    img{
        border-radius: 50%;
        object-fit: cover;
    }
    // using scss for loop and conditional to apply css
    @for $i from 1 through 3{
        img:nth-child(#{$i}){
                @if $i == 1 or $i == 3{
                    width: distanceSetter(5,8)*1px;
                    height: distanceSetter(5,8)*1px;
                    z-index: -1;
                    margin-right: distanceSetter(5,2)*-1px;
                    margin-left: distanceSetter(5,2)*-1px;
                    border: solid 2px $primary-color;
                }
                @else if $i == 2{
                    width: distanceSetter(5,14)*1px;
                    height: distanceSetter(5,14)*1px;
                    border: solid 5px $primary-color;  
                }
            }
        }
    .dot {
        height: distanceSetter(5,2)*1px;
        width: distanceSetter(5,2)*1px;
        background-color: $secondary-color;
        border-radius: 50%;
        margin: distanceSetter(5,1)*1px;
    }
    .dot:nth-child(2){
        background-color: $primary-color;
    }
    div{
        // using @mixin defined in grid layout and using through @include
        @include grid('grid-template-columns', 'repeat(3, auto)');
        align-items: center;
    }
    p:nth-child(1){
        width: distanceSetter(5,10)*1em;
        font-size: 0.8em;
    }
}

