// about me section styling
// nesting of css rules
.about-me-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    >div{
        padding: 0px distanceSetter(5,8)*1px;
    }
    article{
        width: distanceSetter(5,50)*1px;
        display: grid;
        a{
            text-decoration: none;
            color: $primary-color;
        }
        div{
            display: grid;
            justify-content: space-between;
        }
    }
    aside{
        img{
            width: distanceSetter(5,100)*1px;
            height: distanceSetter(5,100)*1px;
            object-fit: cover;
        }
    }
}

