// about me section styling
// nesting of css rules
.about-me-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    >div{
        padding: 0px 40px;
    }
    article{
        width: 250px;
        display: grid;
        a{
            text-decoration: none;
            color: $primary-color;
        }
        div{
            display: grid;
            justify-content: space-between;
        }
        aside{
            img{
                width: 500px;
                height: 500px;
                object-fit: cover;
            }
        }
    }
}

