// Styling for home section
//nested home section and used mixin fom grid layout
.home-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    justify-content: space-around;
    margin: distanceSetter(5,8)*1px;
    padding-top: distanceSetter(5,4)*1px;
    a{
        text-decoration: none;
        color: $secondary-color;
    }
    .heading{
        font-size: xx-large;
    }
}

