.home-container{
    @include grid('grid-template-columns', 'repeat(2, auto)');
    justify-content: space-around;
    margin: 40px;
    padding-top: 20px;
}
.home-container a{
    text-decoration: none;
    color: $secondary-color;
}
.home-container .heading{
    font-size: xx-large;
}
