/* This styling is specific to trending news section */
.news-card-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    .news-know-more{
        margin-top: distanceSetter(5,6)*1px;
    }
    /* deep cascading to apply specific css */
    > article {
        margin: distanceSetter(5,4)*1px;
        height: distanceSetter(5,100)*1px;
        box-shadow: 6px 7px 14px 1px rgba(161,169,173,1);
        width: distanceSetter(5,80)*1px;
        border-radius: 0.5em;
        img{
            width: distanceSetter(5,80)*1px;
            border-radius: 0.5em;
        }
        >div{
            >article{
                >p{
                    font-size: 0.8em;
                }
            }
        }
        div:nth-child(2){
            margin: distanceSetter(5,4)*1px;
        }
    }
}



