/* CSS to summary section */
summary{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,2fr));
    justify-content: space-between;
}

summary .contact-details{
    @include grid('grid-template-columns', 'repeat(3, auto)');
    justify-content: space-between;
}